<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="true" />
		<customErrors mode="Off" />
		<!-- INSERT CODE FROM /REMOTE/WEB.CONFIG HERE!!-->
		<!-- DON'T FORGET TO UPDATE THE FORMS AND CUSTOMERRORS KEYS! -->

		<!-- END COPIED CODE-->
	</system.web>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NewBinding0" maxReceivedMessageSize="1048576">
                    <readerQuotas maxStringContentLength="1048576" />
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://SERVERNAME:12345/IWHSMailService"
                binding="netTcpBinding" bindingConfiguration="NewBinding0"
                contract="WHSMailCommon.Contracts.IWHSMailService" name="WHSMailService" />
        </client>
    </system.serviceModel>
</configuration>
